:root {
    /*Color principal*/
    --color-base: #264892;
    --color-base-trnasparent: rgba(38, 72, 146, 0.8);
    /*Colore constrastantes*/
    --color-contrast-4: #0f1226;
    /*Colores Complementarios*/
    --color-complementary-5: #52525c;
    /*Fuente principal*/
    --font-primary: 'Roboto', sans-serif;
    /*Colores adicionales*/
    --color-white: #ffffff;
    --color-aliceblue: #f0f8ff;
    --color-whitesmoke: #f5f5f5;
    --font-primary: 'Roboto', sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    background-color: var(--color-contrast-4);
}
/*grid de las pelicula*/
.titulo{
    grid-area:titulo;
    font-size:xx-large;
    font-family: literata;
    color: var(--color-base);
}
.portada{
    grid-area:portada;
}
.informacion{
    grid-area:informacion;
}
.trailer{
    grid-area:trailer;
}
.sinopsis{
    grid-area: sinopsis;
}
.horarios{
    grid-area: horarios;
}


/*RESPONSIVO DE LAS PELICULAS*/
/*Vista para el telefono*/
.movie{
    display: grid;
    gap: 5px;
    grid-template-columns: auto;
    grid-template-areas: 
    "titulo titulo"
    "portada portada"
    "horarios horarios" 
    "sinopsis sinopsis"
    "informacion informacion"
    "trailer trailer";
} 



@media(max-width: 767px) {
    .video{
        display: none;
    }
    .informacion ul{
        display: none;
    }

    .as {
        display: none;
    }
    
    .nav__busqueda-container img{
        display: none;
    }
    .barra{
        display: none
    }

    .movie{
        background-color: white ;
        padding: 30px;
        border: 1px solid #bf994d;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        border-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    

    .imagenes{

        margin-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    
    }
  
    .nav button{
        color: white;
        display: inline-block;
        margin-right: 3rem;
        background-color: var(--color-base);
        border:none;
        box-shadow: none;
      
    }
}


/*vista para tablet*/
@media(min-width:768px){
    .movie{
        grid-template-columns: auto;
        grid-template-areas: 
        "titulo titulo titulo"
        "portada informacion horarios"
        "sinopsis sinopsis sinopsis"
        "trailer trailer trailer";
    }
    .nav{
        grid-template-columns: auto;
        grid-template-areas: 
        "menú barra";
    }
    .video{
       border-radius: 5rem;
       width: 100%;
    }
    
    .trailer button{
        display: none;
    }

    .movie{
        background-color: white ;
        padding: 30px;
        border: 1px solid #bf994d;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 30px;
        border-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .informacion button{
        display: none;
    }

    /*.nav{
        grid-template-columns: auto;
        grid-template-areas: 
        "navimg nav_a navbq"
        "naving nav_a navbq"
        ;
    }*/
    .imagenes{
        margin-top: 120px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .nav button{
        display: none;
        color: white;
    }
}
/*vista para escritorio*/
@media(min-width:900px){
    .movie{
        gap: 20px;
        grid-template-columns: auto;
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "portada informacion sinopsis sinopsis"
        "portada horarios horarios horarios"
        "trailer trailer trailer trailer";
    }

    .video{
        border-radius: 1rem;
        width: 100%;
    }

    .trailer button{
        display: none;
    }

    .movie{
        background-color: white ;
        padding: 30px;
        border: 1px solid #bf994d;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 35px;
        border-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .informacion button{
        display: none;
    }


    /*.nav{
        grid-template-columns: auto;
        grid-template-areas: 
        "navimg nav_a navbq"
        "navimg nav_a navbq"
        ;
    }*/
     
    .imagenes{

        margin-top: 120px;
        padding-left: 100px;
        padding-right: 100px;

    }

    .nav button{
        display: none;
        color: white;
    }
}

/*grid de la página*/
.header{
    grid-area:header;
    /*background-color: #264792;*/
}
.imagenes{

    grid-area: imagenes;
    display: flex;

    width: 100%;
    height: 430px;
    
}
.imagenes img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s ease;

}
.imagenes img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.cards{
    grid-area:cards;
    margin-top: 50pxpx;
    margin-bottom: 20px;
}
.footer{
    color: white;
    grid-area: footer;
    padding: 20px;

    text-align: center;
    border-top: 2px solid #bf994d;
    background-color: var(--color-base);

    line-height: 25px;

}
.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
        "nav nav"
        "imagenes imagenes"
        "cards cards"
        "footer footer";

}


/*Estilo de nav*/
.nav {
    display: flex;
    grid-area: nav;
    align-items: center;
    background-color:var(--color-base);
    height: 5rem;
    border-bottom: 1px solid --color-complementary-5;
    position: fixed;
    width: 100%;

    padding-bottom: 1rem;
    padding-top: 1rem;
    height: fit-content;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 25px;
    border-bottom: 2px solid #bf994d;

}
.nav img{
    height: 3rem;
    margin-left: 2rem;

    grid-area: navimg;
}
.as a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    margin-left: 2rem;

    grid-area: nav_a;
}
.as a:hover {
    color: aliceblue;
    background: var(--color-contrast-4);
    border-radius: 5rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0,0,0,1);
}
.nav__busqueda-container{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;
    /*background-color: whitesmoke;*/
    height: 60%;
    border-radius: 5rem;
    border: 1px solir var(--color-complementary-5);

    grid-template-columns: navbq;
}
.nav__busqueda-container img{
    height: 2rem;
    margin-left: 1rem;
}
.nav__busqueda-container input{
    height: 1.8rem;
    border:none;
    background-color: whitesmoke;
    font-size: 1.6 rem;
    padding: 0.5rem;
    border-radius: 5rem;
}


/*.nav{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "navimg nav_a"
    "navimg navbq"
    ;
}*/




ul {
    list-style: none;
    
}



.portada{
    width: 200px;
    border-radius: 1rem;
}


.portada:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


.footer img{
    width: 160px;
}

.footer{
    font-size: small ;
}

.Carte{
    font-size: 25px;
}

.horarios button{
    color: whitesmoke;
    background-color: #264892;
    border-radius: .5rem;
    height: 35px;
    width: 95px;
    margin: 5px;   
}

. horarios button:hover{
    background-color: #bf994d;
    border: 1px solid #bf994d;
    width: 110px;
    height: 45px;

}


